<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Metaverse-AFrame</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="/aframe/components/aframe-tooltip-component.js"></script>
    <script src="/aframe/components/camera-position.js"></script>
    <script src="/aframe/components/link-controls.js"></script>
    
    <script src="https://unpkg.com/aframe-environment-component@1.3.x/dist/aframe-environment-component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-extras@7.5.2/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-physics-system@1.6.0/dist/aframe-physics-system.min.js"></script>


</head>

<body>
        <!-- 사용자 컴포넌트 등록 코드는 a-scene 전 body 안에 작성 
            The component name `userComponent` contains uppercase characters, 
            but HTML will ignore the capitalization of attribute names. 
            Change the name to be lowercase: `usercomponent`
        -->
        
        <script>        
           AFRAME.registerComponent('avatar', {
              schema: {
                clip_idle: {default: 'BreathingIdle'}, 
                clip_walking: {default: 'Walking'},
              },          
              init: function () {
                const avatar = this;
                avatar.el.setAttribute('animation-mixer', `clip: ${avatar.data.clip_idle}; loop: repeat`);
                document.addEventListener('keydown', (e) => {
                    avatar.el.setAttribute('animation-mixer', `clip: ${avatar.data.clip_walking}; loop: repeat`);
                    if (e.code === 'ArrowUp') {
                        avatar.el.object3D.rotation.y = 135;
                    } else if (e.code === 'ArrowDown') {
                        avatar.el.object3D.rotation.y = 0;
                    } else if (e.code === 'ArrowLeft') {
                        avatar.el.object3D.rotation.y = -90;
                    } else if (e.code === 'ArrowRight') {
                        avatar.el.object3D.rotation.y = 90;
                    }
                });
                document.addEventListener('keyup', (e) => {
                    avatar.el.setAttribute('animation-mixer', `clip: ${avatar.data.clip_idle}; loop: repeat`);
                });
                console.log('avatar component initialized');
              },
              update: function () {
                console.log('avatar component updated');     
              },
              tick: function (time, timeDelta) {
              },
              tock: function () {
              },
              remove: function () {},
              pause: function () {},
              play: function () {
              }
          });
        </script>

        
        <!-- Start scene    -->
<a-scene physics>
    <!-- assets management system -->
    <a-assets>
        <a-asset-item id="boss" src="/aframe/avatars/theboss/theboss.gltf"></a-asset-item>
        <img id="thumbForest" crossOrigin="anonymous" src="https://cdn.aframe.io/link-traversal/thumbs/forest.png">
    </a-assets>

    <a-link href="/aframe/seo/index.html" image="#thumbForest" title="SEO_JU"
        position="-4.0 1.5 -4.0" rotation="0 0 0"></a-link>
    <a-link href="/aframe/GKM/public/index.html" image="#thumbForest" title="GOO_KM"
        position="0.0 1.5 -4.0" rotation="0 0 0"></a-link>
    <a-link href="/aframe/leejeongmin.html" image="#thumbForest" title="LEE_JM"
        position="4.0 1.5 -4.0" rotation="0 0 0"></a-link>
    <a-link href="/aframe/shooter/examples/supercraft/index.html" image="#thumbForest" title="SHOOTING"
        position="8.0 1.5 -4.0" rotation="0 0 0"></a-link>
        
    <a-camera position="0 1.6 0" rotation="0 180 0">
        <a-cursor></a-cursor>
        <a-entity id="player" gltf-model="#boss" 
            avatar
            position="-1 -0.6 -2" rotation="0 180 0" scale="0.01 0.01 0.01"
            >
        </a-entity>
    </a-camera>
    <a-entity environment="preset: forest; dressingAmount: 500"></a-entity>
</a-scene>
    <!-- End scene    -->    
    
    <!-- Start Script -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
    <!-- End Script -->

    <script defer>

    </script>
</body>

</html>